*.o
.DS_Store

program2/test.dSYM/Contents/Resources/Relocations/aarch64/

program2/test.dSYM/Contents/Resources/DWARF/

program2/.vscode/

program2/server.dSYM/

program2/cclient.dSYM/

program3/server.dSYM/

program3/rcopy.dSYM/

program3/.vscode/

program3/server

program3/rcopy
